.menu-title {
    width: 800px;
    margin: 0 auto;
    text-align: center;
}

.h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    color: green;
    font-size: 40px;
}